<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="../styles/document.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../node_modules/github-markdown-css/github-markdown.css">
    <script>
      var filePath = location.search.substr(1)
    </script>
  </head>
  <body>
    <main class="ui-main">
      <div id="js-viewer" class="viewer">
        <article id="js-markdown-body" class="markdown-body">
        </article>
      </div>
    </main>
    <script>
      const electron = require('electron');
      const fs = require('fs');
      const path = require('path');
      const showdown  = require('showdown');
      const converter = new showdown.Converter();
      const viewer = document.getElementById('js-markdown-body');

      function readFile() {
        fs.readFile(filePath, 'utf8', function (err, data) {
          if (err) {
            return console.log(err);
          }

          viewer.innerHTML = converter.makeHtml(data);
          /*var items = document.getElementsByTagName("img");
          for (var i = items.length; i--;) {
              var img = items[i];
              img.src='../../resources/'+img.getAttribute('src');
          }*/
        });
      }

      // events
      electron.ipcRenderer.on('fullscreen', (event, isFullscreen) => {
        if (isFullscreen) {
          document.body.classList.add('fullscreen')
        } else {
          document.body.classList.remove('fullscreen')
        }
      })

      electron.ipcRenderer.on('reload-document', (event) => {
        readFile()
      })
    </script>
  </body>
</html>
