<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>markdown-documents-viewer</title>
    <link href="../styles/document.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../node_modules/github-markdown-css/github-markdown.css">
  </head>
  <body>
    <div id="js-viewer" class="viewer">
      <article class="markdown-body">
        <h1>The Official raywenderlich.com Swift Style Guide.</h1>
        <p>This style guide is different from others you may see, because the focus is centered on readability for print and the web. We created this style guide to keep the code in our books, tutorials, and starter kits nice and consistent — even though we have many different authors working on the books.</p>

        <p>Our overarching goals are conciseness, readability, and simplicity.</p>

        <p>Writing Objective-C? Check out our <a href="https://github.com/raywenderlich/objective-c-style-guide">Objective-C Style Guide</a> too.</p>

        <h2>Table of Contents</h2>

        <ul>
        <li><a href="#correctness">Correctness</a></li>
        <li><a href="#naming">Naming</a>

        <ul>
        <li><a href="#protocols">Protocols</a></li>
        <li><a href="#enumerations">Enumerations</a></li>
        <li><a href="#prose">Prose</a></li>
        <li><a href="#selectors">Selectors</a></li>
        <li><a href="#generics">Generics</a></li>
        <li><a href="#class-prefixes">Class Prefixes</a></li>
        <li><a href="#language">Language</a></li>
        </ul></li>
        <li><a href="#code-organization">Code Organization</a>

        <ul>
        <li><a href="#protocol-conformance">Protocol Conformance</a></li>
        <li><a href="#unused-code">Unused Code</a></li>
        <li><a href="#minimal-imports">Minimal Imports</a></li>
        </ul></li>
        <li><a href="#spacing">Spacing</a></li>
        <li><a href="#comments">Comments</a></li>
        <li><a href="#classes-and-structures">Classes and Structures</a>

        <ul>
        <li><a href="#use-of-self">Use of Self</a></li>
        <li><a href="#protocol-conformance">Protocol Conformance</a></li>
        <li><a href="#computed-properties">Computed Properties</a></li>
        <li><a href="#final">Final</a></li>
        </ul></li>
        <li><a href="#function-declarations">Function Declarations</a></li>
        <li><a href="#closure-expressions">Closure Expressions</a></li>
        <li><a href="#types">Types</a>

        <ul>
        <li><a href="#constants">Constants</a></li>
        <li><a href="#static-methods-and-variable-type-properties">Static Methods and Variable Type Properties</a></li>
        <li><a href="#optionals">Optionals</a></li>
        <li><a href="#struct-initializers">Struct Initializers</a></li>
        <li><a href="#lazy-initialization">Lazy Initialization</a></li>
        <li><a href="#type-inference">Type Inference</a></li>
        <li><a href="#syntactic-sugar">Syntactic Sugar</a></li>
        </ul></li>
        <li><a href="#functions-vs-methods">Functions vs Methods</a></li>
        <li><a href="#memory-management">Memory Management</a>

        <ul>
        <li><a href="#extending-lifetime">Extending Lifetime</a></li>
        </ul></li>
        <li><a href="#access-control">Access Control</a></li>
        <li><a href="#control-flow">Control Flow</a></li>
        <li><a href="#golden-path">Golden Path</a>

        <ul>
        <li><a href="#failing-guards">Failing Guards</a></li>
        </ul></li>
        <li><a href="#semicolons">Semicolons</a></li>
        <li><a href="#parentheses">Parentheses</a></li>
        <li><a href="#copyright-statement">Copyright Statement</a></li>
        <li><a href="#smiley-face">Smiley Face</a></li>
        <li><a href="#style-guide-license">Style Guide License</a></li>
        <li><a href="#credits">Credits</a></li>
        </ul>
      </article>
    </div>
  </body>
</html>
